* {
    margin: 0px;
}

/* header design */
/* nav style */
/* header{
    margin: 20px 220px;
} */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    padding: 20px 140px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-head {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
}

.menus>ul {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.menus>ul>li {
    list-style: none;
}

.menus>ul>li>a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 500;
}

.follow-btn {
    display: inline-flex;
    gap: 8px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    border: none;
    padding: 10px 20px;
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

/* banner design */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    height: 700px;
    background-image: url('./images/Group\ 14.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-content {
    width: 50%;
    padding: 200px 20px 150px 140px;

}

.banner-title {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.banner-head {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family: Work Sans;
    font-size: 4rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.banner-desc {

    padding: 10px 0;
    gap: 5px;
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline-flex;
}

.btn-sec {
    padding-top: 20px;
    display: flex;
    gap: 20px;
}

.btn {
    padding: 8px 15px;
    border: none;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    border-radius: 48px;
    cursor:pointer;
}

.banner-img {
    width: 35%;
    padding-right: 140px;
}

/* Gamer section */
.gamer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 0px 140px;
    gap: 20px;
}

.gamer>img {
    width: 60%;
}

.gamer-content {

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;

}

.gamer-title {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.gamer-desc {
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.quota {
    color: #534C64;
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
}

/* online design */
.online-sec {
    margin: 60px 0px;
    height: auto;
}

.online-title {
    margin-top: 50px;
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.online-desc {
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.online {
    margin: 20px 140px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.online-content {
    width: 200px;
    height: auto;
}

.online-content img {
    width: 200px;
    height: 230px;
}

.online-content img:hover {
    /* transform: scale(1.1);
    transition: all 0.5s ease-in-out; */
    border: 5px solid rgb(214, 6, 131);
    opacity: 0.5;
    border-radius: 15px;

}

/* Play design */
.play-sec {
    margin: 200px 140px;
}

.play {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 30px;
}

.play-title {
    text-align: right;
    color: #0B0223;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
}

.play-desc {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.play-content {
    padding: 0px 60px;
}

.play-img {
    position: relative;
}

.play-img>img {
    width: 450px;
    height: 530px;
}

.float-img img {
    width: 200px;
    height: 250px;
}

.float-img {
    position: absolute;
    top: 340px;
    left: -50px;
}

/* career design */
.career-sec {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    padding: 0 140px;
}

.career {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.career-content {
    width: 50%;
}

.career>img {
    width: 50%;
}

.job-place {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.place-desc {
    text-align: right;
}

.career-title {
    color: #FFF;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}

.career-desc {
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 166.667% */
}

.job-desc,
.place-desc {
    color: #FFF;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.pos-btn {
    border-radius: 48px;
    background: #FFF;
    display: inline-flex;
    padding: 10px 20px;
    border: none;
    cursor:pointer;

}

.pos-btn p {
    /* font-family: Work Sans; */
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Game types design */
.types {
    margin: 100px 140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.type {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 5px;
}

.type-desc {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* Footer design */
footer{
    background: #0B0223;
    padding: 0px 240px;
}
.foot h3{
    color: #FFF;
}
footer ul, .foot, .foot-1, .foot-2, .foot-3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:15px 0px;
}
footer li{
    list-style: none;
    padding: 0px 10px;
}

.foot-1 a{
    text-decoration: none;
    color:#FFF;
    text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.foot-2{
    max-width:400px;
    margin:0px auto;
}
.foot-2 i{
    color: #FFF;
    font-size: 30px;
}
.foot-2{
    margin:0px auto;
    justify-content: space-around;
}
.foot-3 a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.copy{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-bottom:30px;
}