@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
}

* {
    margin: 0px;
    box-sizing: border-box;
}

/* header design */
/* nav style */
header {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 140px 30px 140px;

    max-width: 1440px;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-head {
    color: #0B0223;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
}

.menus>ul {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.menus>ul>li {
    list-style: none;
}

.menus>ul>li>a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 500;
}

.follow-btn {
    display: inline-flex;
    gap: 8px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    border: none;
    padding: 10px 20px;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

/* banner design */
.banner-sec {
    background-image: url('./images/Group 14.png');
    /* background-size: cover; */
    background-repeat: no-repeat;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    /* padding: 0 140px; */
}

.banner-content {
    width: 50%;
    padding-left: 140px;
}

.banner-title {
    color: #0B0223;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.banner-head {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.banner-desc {
    display: flex;
    align-items: center;
    padding: 10px 0;
    gap: 5px;
    color: #534C64;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.btn-sec {
    padding-top: 20px;
    display: flex;
    gap: 20px;
}

.btn {
    padding: 8px 15px;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 48px;
    cursor: pointer;
}

.banner-img {
    width: 50%;
    padding-right: 140px;
}

.banner-img img {
    width: 100%;
    height: 100%;
}

/* Gamer section */
.gamer-sec {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    margin-top: 50px;
}

.gamer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px 140px;
    gap: 20px;
}

.gamer-img {
    width: 55%;
}

.gamer-img img {
    width: 100%;
    height: 100%;
}

.gamer-content {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;

}

.gamer-title {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: trans parent;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.gamer-desc {
    color: #534C64;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 10px 0;
}

.quota {
    color: #534C64;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
}

/* online design */
.online-sec {
    max-width: 1440px;
    margin: 60px auto;
    height: auto;
}

.online-title {
    margin-top: 50px;
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.online-desc {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.online {
    margin: 20px 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.online-content {
    width: 280px;
    height: auto;
    position: relative;
}

.overlay a {
    text-decoration: none;
}

.overlay {
    border: 3px solid rgb(214, 6, 131);
    border-radius: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 330px;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgb(0, 0, 0);
}

.online-content img {
    width: 280px;
    height: 330px;
}

.online-content:hover .overlay {
    /* border: 5px solid rgb(214, 6, 131);
    opacity: 0.5;
    border-radius: 15px; */
    opacity: 0.8;

}

.icon {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.icon:hover {
    color: #eee;
}

/* Play design */
.play-sec {
    margin: 200px 140px 300px;
}

.play {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 30px;
}

.play-title {
    text-align: right;
    color: #0B0223;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
}

.play-desc {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.play-content {
    padding: 0px 60px;
}

.play-img {
    position: relative;
}

.play-img>img {
    width: 100%;
    height: 100%;
}

.float-img img {
    width: 200px;
    height: 250px;
}

.float-img {
    position: absolute;
    top: 70%;
    left: -10%;
}

/* career design */
.career-sec {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    padding: 0 140px;
}

.career {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

.career-content {
    width: 50%;
}

.career-img {
    width: 50%;
}

.career-img img {
    width: 100%;
    height: 100%;
}

.job-place {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.place-desc {
    text-align: right;
}

.career-title {
    color: #FFF;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}

.career-desc {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 166.667% */
}

.job-desc,
.place-desc {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

/* Game types design */
.type-sec {
    max-width: 1440px;
    margin: 0 auto;
}

.types {
    margin: 100px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.type {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.type:hover {
    border: 1px solid #FF42A5;
    border-radius: 40px;

}

.type-desc {
    color: #0B0223;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.type-desc:hover {

    color: #FF42A5;
    cursor: pointer;
}

/* Footer design */
footer {
    background: #0B0223;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 240px;
}

.foot h3 {
    color: #FFF;
}

footer ul,
.foot,
.foot-1,
.foot-2,
.foot-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
}

footer li {
    list-style: none;
    padding: 0px 10px;
}

.foot-1 a {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.foot-2 {
    max-width: 400px;
    margin: 0px auto;
    text-align: center;
}

.foot-2 i {
    color: #FFF;
    font-size: 30px;
    cursor: pointer;
}

.foot-2 {
    margin: 0px auto;
    justify-content: space-around;
}

.foot-3 a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.copy {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 30px;
}